
h1.h1{
    text-align:center;
    color:red ;
    border-style: dotted;
    background-color:white;
    
    font-size: 20px;
    color:bliue;
    margin-left: 20px;
  }
  div{
    background-color: white:
      border-style: red:
    border-color: ;
    border: 2px solid black;
  
    
  }
  p{
    font-family: 'Courier New', Courier, monospace;
    
  }

p.one{
   
    border-color: black;
  }
  
  p.two{
    
    border-color: green;
  } 
  
  p.three {
   
    border-color: blue;
    background-color: yellow;
  } 
  body{
    background-color: aquamarine;
    
  
  
  }
 